*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Jost', sans-serif;
}

.main{
    display: flex;
    margin: 0 auto;
    width: 900px;
    height: 500px;
}

.top,
.disclaimer{
    margin: 0 auto;
    text-align: center;
}

.top{
    background-color: #3B4CCA;
    padding: 15px;
    
}

.main,
.disclaimer{
    margin-top: 30px;
}

.side,
.generator{
    flex: 1;
    text-align: center;
    background-color: aliceblue;
    padding: 10px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    box-shadow: 5px 5px 5px rgb(183, 183, 183);
}

.search{
    flex: 3;
    text-align: center;
}


::placeholder {
    text-align: center;
}

.searchp{
    border-radius: 20px;
    border: 1px black solid;
    height: 30px;
    text-align: center;
    width: 200px;

}

.newPoke{
    font-size: 15px;
    border-radius: 20px;
    border-style: none;
    box-shadow: 2px 2px 2px grey;
    padding: 2px;
    background-color: #FFDE00;
    height: 45px;
}

.pokeList{
    color: blue;
    text-align: left;
    padding-left: 25px;
    text-transform: uppercase;
    list-style-image: url("pokeball2.png");
}


.disclaimer{
   padding-top: 30px;
}

.pokeName::first-letter{
    text-transform: uppercase;
}

.type::first-letter,
.type2::first-letter{
    text-transform: uppercase;
}

.searchImg{
    height: 200px;
}